
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #25354C;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Facultad Regular', sans-serif !important;
    font-weight: bold;
    margin-bottom: 1px;
}

.carousel {
    margin-bottom: 0;
}

.carousel-caption {
    bottom: 1rem;
    z-index: auto;
}

.carousel-item {
    height: 500px;
}

    .carousel-item > img {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 20rem;
    }

.padding {
    padding-bottom: 2rem;
}

.jumbotron{
    padding:1rem;
    border-radius:0;
    width: 1100;
    color: #25354C;
    font-size: 20px;
    background-color: #FCEBE3;
}

footer {
    background-color: #25354C;
    color: #FCEBE3;
    width: 1100;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.featurette-divider {
    margin: 5rem 0;
}


.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 40px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}