<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Diabetes Risk Prediction</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/Ana/diabetes_app/static/css/style.css"> <!-- {{ url_for('static',filename='css/style.css') }} -->
</head>
<body>
  <h1 class="appname textclr">Diabetes Risk Introduction</h1>
  <main>
    <section class="info-section">
      <div class="info-desc">
          <p class="textclr">According to the Diabete Research Institute, 37.3 million people, or 11.3% of the U.S. population, have diabetes. An estimated 28.7 million people- or 28.5% of the population - had diagnosed diabetes.
            Approximately 8.5 million people have diabetes, but have not yet been diagnosed(2022). (diabetesresearch.org)</p>
          <p class="textclr">During 2014-15, the estimated annual number of newly diagnosed cases of type 1 diabetese in the U.S. included 18,291 children and adolescents younger than age 20. Compared to adults aged 18-44 years, 
            incidence rates of diagnosed diabetes were higher among adults aged 45-64 years and those aged 65 and older. (diabetesresearch.org)</p>
          <p class="textclr">Group 4 decided to explre diabetes to determine which factors are the most likely to predict whether or not and individual has diabetes.</p>
          <p class="textclr">You can use our predicting tool with ease. All we need from you, is a few simple answers.</p>
      </div>
        <button class="start-btn" type="button" onclick="window.location.href='/Ana/diabetes_app/templates/questions.html';">Let's Get Started</button> <!-- {{ url_for('questions.html') }} -->
    </section>
    <section class="news-section">
      <div>
        <p class="news-sec-head textclr">Check out top health news</p>
      </div>
      <div id="news" class="news">
        <a href="" id="news-link"><p id="news-title"></p></a>
      </div> 
    </section>
  </main>
  <footer>
    <p>“Time and health are two precious assets that we don’t recognize and appreciate until they have been depleted.”  – Denis Waitley </p>
 </footer>
 <script type="text/javascript" src="/Ana/diabetes_app/static/script/script.js"></script> <!-- {{ url_for('static',filename='script/script.js') }} -->
</body>
</html>